@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    color: #636b6f;
    font-family: 'Raleway';
    font-size: 14px;
    background-color: #f8f9fa;
}

.alert {
    width: 300px;
    margin: auto;
}

.btn.btn-add {
    margin-left: 15px;
    margin-bottom: 15px;
}

td .btn.btn-add {
    margin-bottom: 0;
}

th.th-email {
    max-width: 150px;
}

td.td-email {
    max-width: 150px;
    overflow-x: auto;
}

th.th-password {
    max-width: 45px;
}

td.td-password {
    max-width: 45px;
    overflow-x: auto;
}

th.th-branch {
    max-width: 100px;
}

td.td-branch {
    max-width: 100px;
    overflow-x: auto;
}

th.th-action {
    max-width: 40px;
}

td.td-action {
    max-width: 40px;
    overflow-x: auto;
}

.tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    background-color: white;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: white;
    border-bottom: none;
}

.nav-tabs .nav-link {
    color: #636b6f;
}

.container-fluid {
    /*padding-top: 30px;*/
}

.container {
    padding-top: 30px;
}

.btn.btn-dropdown {
    background-color: white;
    border-color: #ced4da;
    color: #636b6f;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid  #d3e0e9;
}

.wrapper{
    background-color: #f8f9fa;
    margin-left: 0;
    transition: all 0.1s;
    overflow: hidden;
    height: auto;
}

.wrapper.active {
    margin-left: 230px;
}

.navbar-light .navbar-brand {
    color: #636b6f;
}

@media (min-width: 992px){
    .navbar-toggler {
        display: inline-block !important;
    }
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    outline: none;
}


.dropdown-toggle a,
.dropdown-toggle a:hover, 
.dropdown-toggle a:active {
    text-decoration: none;
    font-weight: bold;
    background: white;
}

.card.card-dashboard>.card-header {
    font-size: 16px;
    background-color: white;
    margin: auto;
}

.card.card-dashboard>.card-body{
    font-size: 20px;
    margin: auto;
}

.card.card-dashboard {
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
}

.card.card-report {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    overflow: hidden;
    padding-bottom: 50px;
}

.row.row-report, .row.row-tab {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row.row-space {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px dotted #d3e0e9;
}

.row.row-space h4{
    margin-left: 15px;
}

.row.row-space form {
    margin-top: 15px;
}

.container h3 {
    margin-bottom: 15px;
}


#sidebar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 230px;
    max-width: 230px;
    margin-left: -230px;
    z-index: 1000;
    background: white;
    color: #636b6f;
    transition: all 0.1s;
    border-right: 1px solid #d3e0e9;
    margin-bottom: -3000px; 
    padding-bottom: 3000px; 
    overflow-y: hidden;
}

#sidebar.active {
    margin-left: 0;
}

#sidebar .sidebar-header {
    padding: 15px;
}

#sidebar .sidebar-header ul li .dropdown-toggle{
    float: right;
}

#sidebar .sidebar-body {
    margin-top: 0; 
    border-top: 1px solid #d3e0e9;
}


#sidebar ul.components {
	padding-top: 10px;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    display: block;
    color: #636b6f !important;
}

#sidebar ul li a:active,
#sidebar ul li a:hover {
    text-decoration: none;
  	font-weight: bold;
    background: white;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #636b6f;
    background: #f5f8fa;
    text-decoration: none;
  	font-weight: bold;
}

ul ul a {
    font-size: 15px !important;
    padding-left: 30px !important;
    background: white;
}

.table>thead, .table>tbody {
    background-color: white;
}

.div-table, .div-dashboard {
    margin: 20px;
}

.div-table {
    position: relative;
}

span.help-block {
    color: red;
}

.form-group .btn.btn-primary {
    margin-top: 10px;
}

/*table*/

div.div-branch div.dataTables_wrapper div.dataTables_filter input,
div.div-service div.dataTables_wrapper div.dataTables_filter input,
div.div-counter div.dataTables_wrapper div.dataTables_filter input,
div.div-branch-service div.dataTables_wrapper div.dataTables_filter input {
    width: 130px;
}

div.div-branch div.dataTables_wrapper div.dataTables_length select,
div.div-service div.dataTables_wrapper div.dataTables_length select,
div.div-counter div.dataTables_wrapper div.dataTables_filter select,
div.div-branch-service div.dataTables_wrapper div.dataTables_filter select {
    width: 65px;
}

.div-table.div-service,
.div-table.div-branch-service {
    margin-left: 50px;
}

div.div-branch div.dataTables_wrapper div.dataTables_info,
div.div-service div.dataTables_wrapper div.dataTables_info, 
div.div-counter div.dataTables_wrapper div.dataTables_info,
div.div-branch-service div.dataTables_wrapper div.dataTables_info {
    display: none;
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* multi select */
td select {
    padding: 0;
}

td select option {
    text-align: left;
    font-size: 14px;
    padding-bottom: 5px;
    color: #636b6f;
}